


.corazon {
  animation: latido 1s infinite;
  background-color: red;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  transform: rotate(-45deg);
  width: 50px;
  box-shadow: -10px 10px 90px red;
}

.corazon:before,
.corazon:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.corazon:before {
  top: -25px;
  left: 0;
}

.corazon:after {
  left: 25px;
  top: 0;
}
.corazon2 {
  animation: latido 1s infinite;
  background-color: rgba(0, 0, 255, 1);
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  transform: rotate(-45deg);
  width: 50px;
  box-shadow: -10px 10px 90px rgba(0, 0, 255, 1);
}

.corazon2:before,
.corazon2:after {
  content: "";
  background-color: rgba(0, 0, 255, 1);
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.corazon2:before {
  top: -25px;
  left: 0;
}

.corazon2:after {
  left: 25px;
  top: 0;
}

@keyframes latido {
  0%
  {
    transform: scale( 1 )
    rotate(-45deg);
  }
  20%
  {
    transform: scale( 1.25 )
    rotate(-45deg);
  }
  40%
  {
    transform: scale( 1.5 )
    rotate(-45deg);
  }
}